{% extends "base.html" %}

{% block content %}


<h1><i class="fa-solid fa-circle-info" style="color:darkgray;"></i>
        About TrackPoint
    </h1>

    <p class="heading">
        TrackPoint is a real-time International Space Station (ISS) tracking
        web application built using Flask, Leaflet.js and external space APIs.
    </p>
    
<div class="about-container">

    

    <div class="about-card">

        <h2>
            <i class="fa-solid fa-star" style="color: rgb(255, 208, 0);"></i>
            Features</h2>

        <ul>
            <li>Live ISS Location</li>
            <li>Interactive World Map</li>
            <li>Real-time Latitude & Longitude</li>
            <li>Altitude & Velocity</li>
            <li>Current Country Detection</li>
            <li>Astronauts in Space</li>
            <li>ISS Orbit Trail</li>
        </ul>

    </div>

    <div class="about-card">

        <h2>🛠 Technologies Used</h2>

        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Leaflet.js</li>
            <li>Jinja templates</li>
        </ul>

    </div>

    <div class="about-card">

        <h2><i class="fa-solid fa-globe" style="color: blue;"></i> APIs Used</h2>

        <ul>
            <li>Where The ISS At API</li>
            <li>OpenStreetMap Nominatim API</li>
        </ul>

    </div>

</div>

{% endblock %}